* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --heading-font-family: "Azeret Mono", monospace;
  --default-font-family: "Montserrat", sans-serif;
  --primary-font-color: #f3f7fa;
  --secondary-color: #010b8b;
  --primary-color: #1e0521;
  --third-color: #fecc50;
  --accent-color: #ff6d69;
  --nuance-color: #0be7fb;
  --nuance-box-shadow: 0 0 30px #0be7fb;
  --accent-box-shadow: 0 0 30px #ff6d69;
}

body {
  background-color: var(--primary-color);
  color: var(--primary-font-color);
  font-family: var(--default-font-family);
}

a {
  color: var(--default-font-family);
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

a:hover {
  color: var(--third-color);
}

h1,
h2 {
  font-family: var(--heading-font-family);
}

h1 {
  font-size: 2rem;
  margin: 140px auto 100px;
  text-align: center;
  text-transform: capitalize;
}
h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

/*Styling hero's block */
.hero {
  left: 50%;
  position: absolute;
  top: 40%;
  transform: translate(-50%);
}

.hero div {
  font-size: clamp(1.5rem, 3.5vw, 3rem);
  font-weight: 900;
}

.hero div:nth-of-type(2) {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  line-height: 2em;
  font-weight: 600;
  margin-bottom: 2em;
}

.button {
  background-color: var(--accent-color);
  border: 2px solid var(--nuance-color);
  font-size: clamp(0.5rem, 2.5vw, 1.5rem);
  font-weight: 400;
  margin-top: 30px;
  padding: 10px;
  text-align: center;
  transition: all 150ms ease-in-out;
}

.button:hover {
  box-shadow: var(--nuance-box-shadow);
}

.arrow_movement_down {
  padding-left: 10px;
  animation: arrowMovementDownn 2s linear infinite;
}

@keyframes arrowMovementDownn {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Styling of work's section */
.work_img_left {
  border: 1px solid var(--nuance-color);
  transition: all 150ms ease-in-out;
}

.work_img_right {
  border: 1px solid var(--accent-color);
  transition: all 150ms ease-in-out;
}

.work_img_right:hover {
  box-shadow: var(--accent-box-shadow);
}

.work_img_left:hover {
  box-shadow: var(--nuance-box-shadow);
}

.works_content li {
  display: inline-block;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  margin: 20px 10px 0px;
}

.works_content p {
  margin-top: 20px;
}

.arrow_movement {
  animation: arrowMovement 3s linear infinite;
  padding: 10px;
}

.link_work_right,
.link_work_left {
  font-size: 1.5rem;
  font-family: var(--heading-font-family);
}

.link_work_right {
  margin-left: 10px;
}

@keyframes arrowMovement {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(20px);
  }
  100% {
    transform: translate(0);
  }
}

/* Styling of about page */
.photo_hero {
  border: 1px solid var(--nuance-color);
  transition: all 150ms ease-in-out;
}

.photo_hero:hover {
  border: 1px solid var(--nuance-color);
  box-shadow: var(--nuance-box-shadow);
}

.wrapper_tools_skills {
  font-size: 2rem;
  text-align: center;
}
.wrapper_tools_skills i {
  padding: 10px;
  margin-top: 50px;
}

/* For footer */
footer img {
  transition: all 200ms ease-in-out;
  width: 60px;
  padding: 10px;
}
.wrapper_footer {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  margin: 10rem auto 5rem;
}

.project_links {
  display: flex;
  gap: 20px;
}

.wrapper_footer :nth-of-type(2) {
  font-size: 12px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.description_work {
  margin-top: 10rem;
}

footer img:hover {
  transform: scale(1.2);
}

/* For form */
.form * {
  border: none;
  outline: none;
}
.form_item {
  margin-bottom: 30px;
}
.form_input {
  height: 40px;
  padding: 10px;
  transition: all 0.5s easy 0s;
  width: 100%;
}
.form_input:focus {
  border: 1px solid var(--nuance-color);
  box-shadow: var(--nuance-box-shadow);
}

textarea.form_input {
  min-height: 150px;
  padding: 10px;
  resize: vertical;
}
.form {
  display: block;
  margin: 0 auto;
  max-width: 500px;
}

.form_button {
  background-color: var(--accent-color);
  color: var(--primary-font-color);
  cursor: pointer;
  padding: 15px;
  border: 1px solid var(--nuance-color);
  transition: all 150ms ease-in-out;
}

.form_button:hover {
  box-shadow: var(--nuance-box-shadow);
  color: var(--third-color);
}

.contact_links {
  display: flex;
  justify-content: end;
  font-size: 30px;
}

.contact_links a {
  padding: 10px;
}

.contact_links a:hover {
  transform: scale(1.2);
}

/* Menu */
.header_logo {
  font-weight: 900;
}

.header {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header_bottom {
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: var(--accent-color);
  border-top: 2px solid var(--nuance-color);
  bottom: 0;
  height: 40px;
  position: absolute;
}

.header_logo {
  font-size: 1rem;
  text-decoration: none;
  z-index: 3;
}

header::before {
  background-color: var(--accent-color);
  border-bottom: 2px solid var(--nuance-color);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.header_body {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: space-between;
}

.header_list {
  display: flex;
  gap: 40px;
  justify-items: left;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 2;
}

.header_list li {
  list-style: none;
  position: relative;
}

.header_link a {
  color: var(--primary-font-color);
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.25rem;
  text-decoration: none;
  transition: all 300ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--third-color);
}

nav li.active a {
  cursor: default;
}

.content {
  margin-top: 200px;
  text-align: center;
}

/* Burger */
.header_burger {
  display: none;
}

@media (max-width: 767px) {
  .header_burger {
    display: block;
    height: 20px;
    position: relative;
    width: 30px;
    z-index: 5;
  }
  .header_burger span,
  .header_burger:before,
  .header_burger:after {
    content: "";
    background-color: var(--primary-font-color);
    height: 2px;
    left: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 100%;
    z-index: 3;
  }
  .header_burger:before {
    top: 0px;
  }
  .header_burger:after {
    bottom: 0px;
  }
  .header_burger span {
    top: 9px;
  }
  .header_burger.active span {
    transform: scale(0);
  }
  .header_burger.active:before {
    top: 9px;
    transform: rotate(45deg);
  }
  .header_burger.active:after {
    top: 9px;
    transform: rotate(-45deg);
  }
  .header_menu {
    background-color: var(--accent-color);
    height: 100%;
    left: 0;
    overflow: auto;
    padding-top: 40px;
    position: fixed;
    top: -100%;
    transition: all 0.3s ease-in-out;
    width: 100%;
  }
  .header_menu.active {
    top: 0;
  }
  .container {
    padding: 0 20px;
  }
  .header_list {
    display: block;
    margin-top: 10%;
    text-align: center;
  }
  .header_list li {
    line-height: 2.7em;
  }
  .header_list li {
    margin-left: 0;
  }
}

body.lock {
  overflow: hidden;
}

/* Dotted background for wrapper hero */
#canvas {
  animation: changeColor 10s linear infinite;
  height: 100vh;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

@keyframes changeColor {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.dot::before {
  content: "";
  background: #00ff0a;
  border-radius: 50%;
  box-shadow: 0 0 10px #00ff0a, 0 0 20px #00ff0a, 0 0 30px #00ff0a,
    0 0 40px #00ff0a, 0 0 50px #00ff0a;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: scale(0.1);
  transition: 2s;
  width: 100%;
}

.dot:hover::before {
  transform: scale(1);
  transition: 0s;
}

.box {
  display: inline-block;
  height: 40px;
  width: 40px;
}

.dot {
  border-radius: 50%;
  height: 40px;
  left: 0%;
  position: relative;
  top: 0%;
  width: 40px;
}

/* Media query for responsive app*/
@media (max-width: 767px) {
  p,
  ul,
  h2 {
    padding: 10px;
    text-align: center;
  }
  .work_img_left,
  .work_img_right {
    display: none;
  }
  h1 {
    margin: 70px auto 20px;
  }
  .description_work {
    margin-top: 4rem;
  }
  .description_work li {
    font-size: 1.5rem;
  }
  .wrapper_footer {
    margin: 1rem 0 1rem;
  }

  .form_button {
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
  }

  .wrapper_footer :nth-of-type(2) {
    font-size: 8px;
  }

  .photo_hero {
    max-height: 400px;
    display: block;
    margin: 0 auto;
  }

  footer img {
    width: 40px;
    padding: 5px;
  }

  .header_bottom {
    display: none;
  }
}
